language: python

python:
  - "3.5"
  - "3.6"

cache: pip

services:
  - mongodb
  - rabbitmq

# command to install dependencies!
install:
  - "pip install -r requirements.txt"
  - "pip install --upgrade pycodestyle"

# command to run tests!
script:
  - python -m unittest discover
  - pycodestyle scanfme_db_utils.py --ignore="E265,E501" --statistics --show-source
