[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.3b0"
codecov = "*"
flake8 = "*"
pip = "*"
pylint = "*"
python-dotenv = "*"
setuptools = "*"
wheel = "*"

[packages]
amqp = "==2.2.*"
click = "*"
gevent = "==1.2.*"
loguru = "*"
pymongo = "==3.6.*"

[requires]
python_version = "3.6"
